@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* 中文用微軟正黑 */

@font-face {
  font-family: MyCustomFont;
  src: local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF;
}

/* 英文用 Segoe UI */

@font-face {
  font-family: MyCustomFont;
  src: local(Helvetica), local(Segoe UI);
  unicode-range: U+00-024F;
}
